.setka{
    position: absolute;
    top: 200px;
    right: 0px;
    width: 1775px;
    height: 867px; /* Обратите внимание на единицы измерения */
    user-select: none;
    z-index: -1; /* Картинка будет под текстом */
}



.body {
    background-color: black;
    color: black;
}





.dzinsi{
    position: absolute;
    top: -20px;
    right: -50px;
    width: 853px;
    height: 853px; /* Обратите внимание на единицы измерения */
    user-select: none;
    z-index: -2; /* Картинка будет под текстом */
}

.bg1 {
  position: fixed;         /* Фиксируем позицию, чтобы изображение оставалось на месте при прокрутке */
  top: 0;                  /* Располагаем сверху */
  left: 0;                 /* Располагаем слева */
  width: 100%;             /* Ширина изображения равна 100% ширины окна */
  height: 100%;            /* Высота изображения равна 100% высоты окна */
  object-fit: cover;       /* Изображение масштабируется так, чтобы заполнить весь контейнер, сохраняя пропорции */
  z-index: -2;             /* Устанавливаем отрицательный индекс, чтобы изображение располагалось за другим содержимым */
}